/* Reset default styles and set body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* Main content container styles */
.main {
    width: 80%;
    margin: 80px auto 20px; /* Adjust top and bottom margin */
    padding: 20px;
    box-sizing: border-box; /* Prevent padding from affecting width */
}

/* Title styles */
.title {
    text-align: center;
    color: orange;
    margin: 20px 0;
    font-size: 36px;
}

/* FAQ container styles */
.faq-container {
    margin-top: 20px;
}

/* Individual FAQ item styles */
.faq-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px; /* Increase margin between FAQ items */
    padding: 15px;
}

/* Question styles */
.question {
    color: #333;
    font-size: 19px;
    margin: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Answer styles */
.answer {
    color: #666;
    margin-top: 10px;
    font-size: 15px;
    display: none; /* Initially hide the answer */
}

/* Severity section styles */
.severity-section {
    margin-bottom: 30px; /* Increase space between severity sections */
    padding-bottom: 20px; /* Add padding below the section */
    border-bottom: 1px solid #ccc; /* Add border line between severity sections */
}

/* Severity title styles */
.severity-title {
    color: #555;
    font-size: 24px;
    margin-bottom: 10px; /* Adjust space between severity titles */
}

/* Remove border from the last severity section */
.severity-section:last-child {
    border-bottom: none;
}

/* FAQ icon container styles */
.faq-icon-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Ensure the icon is on top of everything */
}

/* FAQ icon image styles */
.faq-icon-container img {
    width: 50px; /* Adjust icon width */
    height: 50px; /* Adjust icon height */
    cursor: pointer; /* Cursor style on hover */
    border-radius: 50%; /* Circular border */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow effect */
}
