body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.main {
    width: 80%;
    margin: 80px auto 20px; /* Adjust top and bottom margin to ensure content moves down */
    padding: 20px;
    box-sizing: border-box; /* Prevent padding from affecting width */
}

.title {
    text-align: center;
    color: orange;
    margin: 20px 0;
    font-size: 36px;
}

.faq-container {
    margin-top: 20px;
}

.faq-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
}

.question {
    color: #333;
    font-size: 19px;
    margin: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answer {
    color: #666;
    margin-top: 10px;
    font-size: 15px;
    display: none; /* Initially hide the answer */
}

.toggle-icon {
    margin-left: 10px; /* Adjust icon position */
    font-weight: bold;
}

.faq-icon-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Ensure the icon is on top of everything */
}

.faq-icon-container img {
    width: 50px; /* Adjust icon width */
    height: 50px; /* Adjust icon height */
    cursor: pointer; /* Cursor style on hover */
    border-radius: 50%; /* Circular border */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow effect */
}
